#mainContent p{
	font-size: 16px;
}

.jumbotron{
	background-color: rgba(0, 0, 0, 0.4);
}

#mainContent {
	color: black;
	font-family: 'Montserrat Alternates', sans-serif;
}

#mainContent h2{
	color: black;
}

#mainContent p{
font-family: 'Rosario', sans-serif;
color: white;
}

